.sidebar {
    border-radius: 5px;
    background: whitesmoke;
    padding: 30px;
    width: 100%;
    max-width: 300px;
    float: center;
    border: 1px solid gray;
    margin-bottom: 20px;
    box-shadow: -1px 3px 10px rgb(20, 20, 20);
    text-align: center;
    align-content: center;
}

.sidebar {
    border-bottom: 2px solid lightgray;
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
}

@media screen and (max-width: 980px) {

}

@media screen and (max-width: 770px) {
    .sidebar {
        max-width: 100%;
    }
}
    
@media screen and (max-width: 640px) {

}