img {
    width: 20%;
    height: Auto;
    
}    /* height: 25%; */


@media screen and (max-width: 980px) {
    #media {
        width: 50%;
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 770px) {
    #media {
        width: 50%;
    }
}
    
@media screen and (max-width: 640px) {
    #media {
        width: 100%;
    }
}